# DB_USER=root
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_NAME=student_db
# FLASK_DEBUG=True

DB_HOST=${{MYSQLHOST}}
DB_USER=${{MYSQLUSER}}
DB_PASSWORD=${{MYSQLPASSWORD}}
DB_NAME=${{MYSQLDATABASE}}